
.container {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
    grid-template-rows: 0.5fr 2.1fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header header header"
    "left content content"
    "footer footer footer";
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    font-family: Impact, sans-serif;
    background: #808080;
    background-image: url("/img/t-shirt.png");
    background-size: 150px auto;
    background-repeat: no-repeat;
    height: 150px;
    vertical-align: middle;

}

header img {
    height: 100px;
    background: none;
    align-content: ;
}

aside {
    grid-area: left;
    margin: 20px 0px;
}

main {
    grid-area: content;
    margin: 20px;
}

footer {
    grid-area: footer;
    background: #808080;
    padding: 20px;
    text-align: center;
    color: #333333;
}

div.yui-b div.box {
    color: #333333;
    /*border: 1px solid #c6e1ec;*/
    margin-top: 15px;
}

div.yui-b div p.box-title {
    background: #808080;
    /*border-bottom: 2px solid #c6e1ec;*/
    color: #FFFFFF;
    display: block;
    font-size: 93%;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
}

a {
    color: #0590C7;
}

a:hover {
    color: #ff0000;
}

a.selected {
    font-weight: bold;
    color: red;
}

div.yui-b div ul {
    margin: 0;
    list-style: none;
}

diveyui-b div ul li {
    border-bottom: 1px solid #fff;
    /*list-style-type: none;*/
    /*list-style: none;*/
}

div.yui-b div ul li a {
    color: #333333;
    display: block;
    text-decoration: none;
    padding: 5px;
}

div.yui-b div ul li a:hover {
    background: #c6e1ec;
    color: #333333;
}

h1{
    font-family: Impact, sans-serif;
    color: #333333;
    text-align: center;

}