<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        <link rel="stylesheet" href="/style.css">
    {% endblock %}

    <title>Document</title>
</head>
<body>

<div class="container">
    <header>{% include 'header.twig' %}</header>

    <aside>


    </aside>

    <main>
        {% include 'catalog/product.twig' %}
    </main>

    <footer>
        {% include 'footer.twig' %}
    </footer>
</div>

</body>
</html>
