<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        <link rel="stylesheet" href="/style.css">
{#        <link rel="stylesheet" href="../templates/style.css">#}
{#        <link rel="stylesheet" href="{{ asset('style.css') }}" >#}
    {% endblock %}

    <title>Document</title>
</head>
<body>

<div class="container">
    <header>{% include 'header.twig' %}</header>

    <aside>
        <div class="yui-b">
        {% include 'departmentsList.twig' %}
        </div>
        <div class="yui-b">
{#        {% include 'aside.twig' %}#}
        </div>

    </aside>

    <main>
        {% include 'department/body.twig' %}
        {% include 'catalog/productList.twig' %}
    </main>

    <footer>
        {% include 'footer.twig' %}
    </footer>
</div>

</body>
</html>
