<div>
    <h2>Catalog</h2>
    <div class="product-list">
        {% for value in productList %}
            <div class="product-list-container">
                <img src="/img/product_images/{{ value.image }}">
                <a href="/catalog/view?id={{ value.product_id }}">
                    <h3>{{ value.name }}</h3>
                </a>
                <p>Price: {{ value.price }}</p>
            </div>
        {% endfor %}
    </div>
</div>